<%- include('../header.ejs') %>


<main class="d-flex align-items-center bg-color">
    <div class="container shadow p-4 bg-light ">
            <div class="text-center">
                <h2 class="mb-2">About Task Manager App</h2>
                <p>
                    The <strong>Task Manager App</strong> helps individuals and teams efficiently manage tasks and boost productivity.
                    Whether you're managing daily to-do lists or complex projects, this app provides flexibility and tools to stay organized.
                </p>
            </div>
    
            <h3 class="text-center mb-2">Key Features:</h3>
            <div class="d-flex justify-content-center">
                <ul class="w-75 m-0 p-0 text-center">
                    <p><strong>Task Creation & Management:</strong> Easily add, update, and delete tasks.</p>
                    <p><strong>Due Date Reminders:</strong> Integrated notifications ensure you never miss deadpnes.</p>
                    <p><strong>User-Friendly Interface:</strong> Seamless user experience with an intuitive design.</p>
                </ul>
            </div>


    </div>

</main>


<%- include('../footer.ejs') %>
